
.headercolor {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 1em;
    width: 98vw;
    margin-left: 5em;
    color: white;
    font-size: 50px;
    padding: 15px;
}

.h1header {
    color: white;
    font-size: xx-large;
}

.body {
    position: absolute;

    background-image: url('Perolas.png');
    background-size: cover;
}

.cacha {
    display: flex;
    gap: 3em;
    height: 29em;
    width: 100vw;
}

.gifzin{
    margin-top: 0.80em;
    margin-left: 12.8em;
    height: 29%;
    border-radius: 27px;
}

.cachinha {
    border-style: groove;
    border-color: black;
    border-width: 0.3px;
    background-color: rgb(243, 243, 243);
    height: 25em;
    width: 33em;
    margin-top: 2em;
    margin-right: 36.5em;
    border-width: 0.3em;
}
.botoes{
    display: flex;
    justify-content: flex-end;
    gap: 3px;
}
.botaofather {
    background-color: rgb(161, 190, 253);
    padding: 1px;
    gap: 10;
}

.buthan {
    height: 7.2em;
    width: 10vw;
} 

.futer {
    height: 5em;
    width: 96.4em;
    margin-left: 5.3em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
    margin-top: 0.58em;
}

.texto {
    margin-left: 22.4em;
    height: 7em;
    width: 22.3vw;
    resize: none;
    color:rgb(0, 0, 0);
    background-color: rgb(180, 209, 209);
}

.mensagem {
    display: flex;
    flex-direction: column;
    justify-content: right;
}